<section id="gallery">
      <div class="container">
        <div class="row divide">
          <% @businesses.each do |business| %>
            <div class="col-sm-6 col-md-4 gallery-item">

              <% if !business.profile_photo? %>
  
                <div class="thumbnail-gallery" style="background-image:url('placeholder-business.png'); background-size:cover" height="200">
                </div>
              <% else %>
                <div class="thumbnail-gallery" style="background-image:url('<%= business.profile_photo %>'); background-size:cover" height="200">
                </div>
              <% end %>
              <%= link_to business.name.upcase, business %>
              <p><%= business.borough.name.upcase %>: <%= business.neighborhood.name.upcase %></p>
                        <p>Biztags: <% business.biztags.each do |biztag| %>
            <%= link_to biztag.name, biztag %><%= "," unless biztag == business.biztags.last %>
            <% end %></p>
          <p>Designers: <% business.designers.each do |designer| %>
            <%= link_to designer.name, designer %><%= "," unless designer == business.designers.last %>
            <% end %></p>


             
    
            </div>
          <% end %>
        </div>
      </div>
    </section>
