<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field"> -->
    <%#= f.label :user_id %><br>
    <%#= f.number_field :user_id %>
  <!-- </div> -->
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :neighborhood_id %><br>
    <%#= f.number_field :neighborhood_id %>
    <%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :neighborhood_name ) %>
  </div>
  <div class="field">
    <%= f.label :borough_id %><br>
    <%#= f.number_field :borough_id %>
    <%= f.collection_select(:borough_id, Borough.all, :id, :borough_name ) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_area :hours %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :terms %><br>
    <%= f.text_area :terms %>
  </div>

  <div class="field">
    <h4>Biztags</h4>
    <%= f.collection_check_boxes :biztag_ids, Biztag.all, :id, :name, {:item_wrapper_class => 'checkbox_container'} %><br>
  </div>

  <div class="field">
    <h4>Designers</h4>
    <%= f.collection_check_boxes :designer_ids, Designer.all, :id, :name, {:item_wrapper_class => 'checkbox_container'} %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
