<%= form_for(@business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <div class="biz-form">

    <h1>General Info</h1>

      <!-- PROFILE PHOTO -->
      <div class="field">
        <%= f.file_field :profile_photo, placeholder: "Profile Photo"%>
      </div>

      <!-- MAIN INFO -->
      <div class="field">
        <%= f.text_field :name, placeholder: "Store Name" %>
      </div>

      <% if is_owner? %>
        <div class="field">
          <%= f.text_field :website, placeholder: "Store Website" %>
        </div>

      <!-- BOROUGH / NEIGHBORHOOD -->
        <div class="borough-neighborhood">
          <div class="field">
            <%= f.label :borough_id %>
            <%= f.collection_select(:borough_id, Borough.all, :id, :name ) %>
          </div>
          <div class="field">
            <%= f.label :neighborhood_id %>
            <%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name ) %>
          </div>
        </div>
        <div class="field">
          <%= f.text_field :map, placeholder: "Map URL" %>
        </div>
      <% end %>

      <!-- STORE BIO  -->
      <h1>Store Bio</h1>
      <div class="field">
        <%= f.text_field :store_bio, placeholder: "(One Paragraph / 700 Char. Max)" %>
      </div>

      <!-- NEWS & SPECIALS  -->
      <h1>News & Specials</h1>
      <div class="field">
        <%= f.text_field :special_offers, placeholder: "News / Special Offers" %>
      </div>
     
      <!-- CONTACT INFO -->
      <h1>Contact Info</h1>

        <div class="address">
          <div class="street-address">
            <div class="field">
              <%= f.text_field :street_address, placeholder: "Number and Street Address", :class => 'biz-input' %>
            </div>
          </div>
          <div class="field">
            <%= f.text_field :city, placeholder: "City", :class => 'city' %>
          </div>
        </div>

        <div class="state-zip">
          <div class="field">
            <%= f.select :state, ["NY", "NJ", "CT"] %>
          </div>
          <div class="field">
            <%= f.text_field :zip, placeholder: "Zip", :class => 'zip' %>
          </div>
        </div>

        <div class="field">
          <%= f.text_field :phone, placeholder: "Store Phone", :class => 'biz-input' %>
        </div>
        <div class="field">
          <%= f.text_field :email, placeholder: "Store Email", :class => 'biz-input' %>
        </div>

      <!-- HOURS OF OPERATION -->
      <h1>Hours of Operation</h1>

      <div class="days">
        <div class="days-inner">
          
          <div class="day sun">
            <div class="field">
              Sunday<br>
              <%= f.select :sunday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
              <br>
              <%= f.select :sunday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>
          <div class="day mon">
            <div class="field">
              Monday<br>
              <%= f.select :monday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
              <br>
              <%= f.select :monday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>
          <div class="day tues">
            <div class="field">
              Tuesday<br>
              <%= f.select :tuesday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
              <br>
              <%= f.select :tuesday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>
          <div class="day wed">
            <div class="field">
              Wednesday<br>
              <%= f.select :wednesday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
            <br>
              <%= f.select :wednesday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>
          <div class="day thurs">
            <div class="field">
              Thursday<br>
              <%= f.select :thursday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
              <br>
              <%= f.select :thursday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>
          <div class="day fri">
            <div class="field">
              Friday<br>
              <%= f.select :friday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
              <br>
              <%= f.select :friday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>
          <div class="day sat">
            <div class="field">
              Saturday<br>
              <%= f.select :saturday_opening, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %> to
            </div>
            <div class="field">
              <br>
              <%= f.select :saturday_closing, ["12:00", "12:30", "1:00", "1:30", "2:00", "2:30", "3:00", "3:30", "4:00,", "4:30", "5:00", "5:30", "6:00", "6:30", "7:00", "7:30", "8:00", "8:30", "9:00", "9:30", "10:00", "10:30", "11:00", "11:30", "---"] %>
            </div>
          </div>

        </div>
      </div>

      <!-- FOR SELLERS -->
      <h1>For Consignors</h1>

      <div class="field">
        <%= f.text_field :percent_to_client, placeholder: "Percent to Client" %>
      </div>
      <div class="field">
        <%= f.text_field :consignment_period, placeholder: "Consignment Period" %>
      </div>
      <div class="field">
        <%= f.text_field :markdown_info, placeholder: "Markdown Period" %>
      </div>
      <div class="field">
        <%= f.text_field :appointment_info, placeholder: "Appointment Information" %>
      </div>
      <div class="field">
        <%= f.text_field :pickup_available, placeholder: "Pickup or Shipment Available?" %>
      </div>
      <div class="field">
        <%= f.text_field :restrictions, placeholder: "Item Restrictions" %>
      </div>
      <div class="field">
        <%= f.text_field :additional_info, placeholder: "Additional Consignment Information" %>
      </div>
      <div class="field">
        <%= f.text_field :return_of_consigned_goods, placeholder: "Return of Consigned Items?" %>
      </div>

      <!-- FOR SHOPPERS -->
      <h1>For Shoppers</h1>

      <div class="field">
        <%= f.text_field :return_policy, placeholder: "Return Policy" %>
      </div>
      <div class="field">
        <%= f.label :authenticity %> Guaranteed?
        <%= f.select :authenticity, ["Yes", "No"] %>
      </div>
      <div class="field">
        <%= f.label :ecommerce_site %>?
        <%= f.select :ecommerce_site, ["Yes", "No"] %>
      </div>
      <div class="field">
        <%= f.text_field :shop_additional_info, placeholder: "Additional Purchase Info" %>
      </div>

      </div>
    </div>

  <!-- TAGS -->
  <% if is_owner? %>
    <div class="field biztag-checkboxes">
      <h4>Biztags</h4>
      <%= f.collection_check_boxes :biztag_ids, Biztag.all, :id, :name, {:item_wrapper_class => 'checkbox_container'} %><br>
    </div>
  <% end %>

  <div class="field designer-checkboxes">
    <div class="biz-form">
      <h1>Designers</h1>
    </div>
    <%= f.collection_check_boxes :designer_ids, Designer.all, :id, :name, {:item_wrapper_class => 'checkbox_container'} %><br>
  </div>

  <div class="biz-form">

    <!-- ADMIN ACCESS -->
    <% if is_owner? %>
      <h1>Admin Access</h1>
      <div class="field col-md-12">
        <%= f.text_field :admin_email, placeholder: "Admin Email" %>
      </div>
    <% end %>

  </div>

  <!-- USER HIDDEN FIELD -->
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="business-button">
    <div class="form-group form">
      <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">SUBMIT BUSINESS INFO</button>
    </div>
  </div>
</div>
<% end %>
