<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">SHOPS</h1>
  <p class="header">CURATED LIST OF HIGH END CONSIGNMENT SHOPS</p>
</section>

<form>
  <%= form_tag(businesses_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "form-control col-lg-8", id: "autocompete", placeholder: "SEARCH SHOPS BY NAME" %>  
  <% end %>
</form>

<section id="services">
  <div class="container">
    <div class="row">
     <div class="search-results">
      <% if @businesses.present? %>
        <%= render @businesses %>
      <% else %>
        <div class="script-header no-results">
          <h3>There are no shops by the name <%= params[:search] %>.</h3>
        </div>
        <div class="see-all">
          <p><%= link_to 'SEE ALL SHOPS', businesses_path %></p>
        </div>
        <div class="user-divide"></div>
      <% end %>
      </div>
    </div>
  </div>
</section>

