<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">SHOPS</h1>
  <p class="header">This is a list of shops</p>
</section>

<section id="works">


      <% @businesses.each do |business| %>
        <div class="business-index">
    <div class="row divide">
        <div class="col-sm-6">
          <div id="carousel-2" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">

                <% if !business.profile_photo? %>
                  <%= image_tag "placeholder-business.png" %>
                <% else %>
                  <%= image_tag business.profile_photo %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h1><%= link_to business.name.upcase, business %></h1>
          
   <!--  <iframe width="200" height="200" frameborder="0" style="border:0"
src="<%= business.map  %>AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94"></iframe> -->

          <p><%= business.borough.name.upcase %>: <%= business.neighborhood.name.upcase %></p>
          <p><%= link_to business.website.gsub("http://", ""), business.website, :target => "_blank" %></p>
          <p>Biztags: <% business.biztags.each do |biztag| %>
            <%= link_to biztag.name, biztag %><%= "," unless biztag == business.biztags.last %>
            <% end %></p>
          <p>Designers: <% business.designers.each do |designer| %>
            <%= link_to designer.name, designer %><%= "," unless designer == business.designers.last %>
            <% end %></p>
          <div class="text-left"><a href="<%= business %>" class="btn btn-link">MORE INFO</a></div>
        </div>

      
    </div>
  </div>
  <% end %> 

  <br>
  <% if user_signed_in? %>
    <% if (current_user.email == "koren.cohen@gmail.com") %>
      <%= link_to 'New Business', new_business_path %>
    <% end %>
  <% end %> 

</section>
<!-- <div class="row divide"></div> -->
