<h1>Listing businesses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Neighborhood</th>
      <th>Borough</th>
      <th>Name</th>
      <th>Address</th>
      <th>Hours</th>
      <th>Email</th>
      <th>Terms</th>
      <th>Biztags</th>
      <th>Designers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.user.name %></td>
        <td><%= business.neighborhood.name %></td>
        <td><%= business.borough.name %></td>
        <td><%= business.name %></td>
        <td><%= business.address %></td>
        <td><%= business.hours %></td>
        <td><%= business.email %></td>
        <td><%= business.terms %></td>
        <td><% business.biztags.each do |biztag| %>
          <%= link_to biztag.name, biztag %><%= "," unless biztag == business.biztags.last %>
          <% end %></td>
        <td><% business.designers.each do |designer| %>
          <%= link_to designer.name, designer %><%= "," unless designer == business.designers.last %>
          <% end %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Business', new_business_path %>
