<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">CONSIGNMENT SHOPS</h1>
  <p class="header">CURATED LIST</p>
</section>

  <form>
    <%= form_tag(businesses_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "form-control col-lg-8", id: "autocompete", placeholder: "SEARCH SHOPS" %>  
    <% end %>
  </form>

  <div class="row">

  <section id="services">

   <div class="search-results">
    <% if @businesses.present? %>
      <%= render @businesses %>
      <!-- <p><%#= link_to 'SEE ALL DESIGNERS', designers_path %></p> -->
    <% else %>
      <h5>There are no shops by the name <%= params[:search] %>.</h5>
      <p><%= link_to 'SEE ALL SHOPS', businesses_path %></p>
    <% end %>
  </div>

  </section>

  </div>



    <section id="gallery">
      <div class="container">
        <div class="row divide">
          <% @businesses.each do |business| %>
            <div class="col-sm-6 col-md-4 gallery-item">

              <% if !business.profile_photo? %>
  
                <div class="thumbnail-gallery" style="background-image:url('placeholder-business.png'); background-size:cover" height="200">
                </div>
              <% else %>
                <div class="thumbnail-gallery" style="background-image:url('<%= business.profile_photo %>'); background-size:cover" height="200">
                </div>
              <% end %>
              <%= link_to business.name.upcase, business %>
              <p><%= business.borough.name.upcase %>: <%= business.neighborhood.name.upcase %></p>
                        <p>Biztags: <% business.biztags.each do |biztag| %>
            <%= link_to biztag.name, biztag %><%= "," unless biztag == business.biztags.last %>
            <% end %></p>
          <p>Designers: <% business.designers.each do |designer| %>
            <%= link_to designer.name, designer %><%= "," unless designer == business.designers.last %>
            <% end %></p>


             
    
            </div>
          <% end %>
        </div>
      </div>
    </section>

<section id="works">

      
    
          
   <!--  <iframe width="200" height="200" frameborder="0" style="border:0"
src="<%#= business.map  %>AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94"></iframe> -->


          <p><%#= link_to business.website.gsub("http://", ""), business.website, :target => "_blank" %></p>

      

      


  <br>
  <% if user_signed_in? %>
    <% if (current_user.email == "koren.cohen@gmail.com") %>
      <%= link_to 'New Business', new_business_path %>
    <% end %>
  <% end %> 

</section>
<!-- <div class="row divide"></div> -->
