    <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header"><%= @business.name.upcase %></h1>
      <p class="header"><%= link_to @business.neighborhood.name, @business.neighborhood %> <i class="fa fa-heart"></i> <%= link_to @business.borough.name, @business.borough %></p>
      <p class="header"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
    </section>

    

<!-- <%# if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <%# @photo.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

<!-- <div class="business-name">
  <h1><%= @business.name %></h1>
</div> -->

<!-- <p><%#= link_to @business.borough.name, @business.borough %>: <%#= link_to @business.neighborhood.name, @business.neighborhood %></p> -->



<!-- <div class="business-photo-map"> -->
  <!-- display business profile photo if it exists, otherwise placeholder -->
  <!-- <div class="business-photo"> -->
  <%# if !@business.profile_photo? %>
    <!-- <strong>No Business Photo:</strong> -->
     <%#= image_tag "placeholder-business.png", height: 300, width: 300 %>
    <%# else %>
    <!-- <strong>Business Photo:</strong> -->
     <%#= image_tag @business.profile_photo, height: 300, width: 300 %>
    <%# end %>
  <!-- </div> -->

  <div class="business-map">
    <iframe height="200" frameborder="0" style="border:0"
    src="<%= @business.map  %>AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94"></iframe>
  </div>

  <p id="notice"><%= notice %></p>

  <p><%= link_to "SHOP THIS NEIGHBORHOOD", @business.neighborhood %></p>
<!-- </div> -->

<!-- <p>
  <strong>User:</strong>
  <%#= @business.user.name %>
</p> -->


<div>
<p>
  <strong>Website:</strong>
  <%= link_to @business.website.gsub("http://", ""), @business.website, :target => "_blank" %>
</p>
</div>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @business.hours %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @business.terms %>
</p>

<p><strong>Biztags:</strong>
<% @business.biztags.each do |biztag| %> 
  <%= link_to biztag.name, biztag %><%= "," unless biztag == @business.biztags.last %>
<% end %></p>

<p><strong>Designers:</strong>
<% @business.designers.each do |designer| %> 
  <%= link_to designer.name, designer %><%= "," unless designer == @business.designers.last %>
<% end %></p>

<!-- DISPLAY PHOTOS  -->

<!--     <section id="works">
      <div class="container">
        <div class="row divide">
          <div class="col-xs-12">
            <div class="text-center"><h1>ALL IMAGES</h1></div>
            <div id="carousel-1" class="carousel slide">
              <div class="carousel-inner"> -->

              <!-- NEED TO CODE ACTIVE ITEM -->
<!--                 <div class="item active slider-item">
                  <div class="thumbnail-gallery slider-img" style="background-image:url('http://www.citygalonthego.com/wp-content/uploads/2012/07/DSC_0723-1024x678.jpg'); background-size:cover" >
                  </div>
                </div>
                
                <%# if @business.photos.empty? %>
                  <h4>There are no photos for this business yet. Be the first!<h4>
                <%# else %>
                  <%# @business.photos.reverse.each do |photo| %>
                    <div class="item slider-item">
                      
                      <div class="thumbnail-gallery slider-img" style="background-image:url('<%#= photo.business_photo %>'); background-size:cover" >
                      </div>

                      "<%#= photo.description[0..25].upcase %>" BY: <%#= link_to photo.user.user_name.upcase, photo.user %><br>

                      <%# if (photo.user == current_user) %>
                        <%#= link_to 'DELETE PHOTO', [@business, photo], method: :delete, data: { confirm: 'Are you sure?' } %></h4>
                      <%# end %>
                    </div>
                  <%# end %>
                <%# end %>
              </div>
              <button class="left carousel-control" href="#carousel-1" data-slide="prev"><i class="fa fa-angle-left"></i></button>
              <button class="right carousel-control" href="#carousel-1" data-slide="next"><i class="fa fa-angle-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <section id="gallery photos">
      <div class="container">
        <div class="row divide">
          <% if @business.photos.empty? %>
            <h4>There are no photos for this business yet. Be the first!<h4>
          <% else %>
            <% @business.photos.reverse.each do |photo| %>
              <div class="col-sm-6 col-md-4 gallery-item">
              BY: <%= link_to photo.user.name.upcase, photo.user %> 
              
              <a href="<%= photo.business_photo %>" data-toggle="lightbox">

              <div class="thumbnail-gallery" style="background-image:url('<%= photo.business_photo %>'); background-size:cover" height="200">
              </div>

              </a>

              DESCRIPTION: <%= photo.description[0..30] %>
              <% if (photo.user == current_user) %>
                <%= link_to 'Delete Photo', [@business, photo], method: :delete, data: { confirm: 'Are you sure?' } %></h4>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>

<!-- put the user's review first? -->

<!-- ADD PHOTOS -->
    <div>

      <% if current_user %>

        <% if (current_user.user_name != nil && current_user.name != nil && current_user.user_name != "" && current_user.name != "" ) %>
          <h1> name: <%= current_user.user_name %> </h1>
          <%= form_for [@business, Photo.new] do |f| %>

          <%#= form_for(review, html: {class: "form-horizontal"}, remote: true) do |f| %>


            <div class="field business-field">
              <%= f.text_area :description, class: "form-control col-lg-8", placeholder: "Photo description." %>
              <p>Upload a photo:</p>
              <%= f.file_field :business_photo, placeholder: "Upload Photo"%>
              <%= f.hidden_field :business_id, :value => @business.id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="actions">
              <%= f.submit "submit photo" %>
            </div>
          <% end %>

        <% elsif (current_user.user_name == nil || current_user.name == nil || current_user.user_name == "" || current_user.name == "") %>
          <!-- <h1>There is no username or name in profile</h1> -->
          <!-- need an elsif for if profile not complete and no reviews -->
            <p><%= link_to "Complete your profile to upload a photo", edit_user_path(current_user), :class => 'navbar-link'  %> </p>
        <% end %>
      
      <% else %>
        <p><%= link_to "Sign up to upload a photo", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Log in to upload a photo", new_user_session_path, :class => 'navbar-link'  %></p>
      <% end %>

<!-- DISPLAY REVIEWS -->
<h3>Reviews</h3>
    <div id="reviews">
      
      <% if @business.reviews.empty? %>
        <h4><span>There are no reviews for this business yet. Be the first!</span><h4>
      <% else %>
        <% @business.reviews.reverse.each do |review| %>
          <h4><strong><%= link_to review.user.name, review.user %>:</strong> 
          <%= image_tag review.user.user_profile_photo, height: 50 %>
          <%= review.rating %><br>
          <%= review.content %>
          <% if (review.user == current_user) %>
            <%#= link_to 'Edit Review', [@business, review], method: :get, remote: true, data: { confirm: 'Are you sure?' } %>
            | <%= link_to 'Delete Review', [@business, review], method: :delete, data: { confirm: 'Are you sure?' } %></h4>
          <% end %>
        <% end %>
      <% end %>
    </div>

<script>
    $('#reviews').raty('score'); 
</script>

            <%#= button_to "Delete", review_path(review), method: :delete, remote: true, class: 'btn btn-danger btn-sm' %>

<!-- REVIEW BUSINESS -->
<%#= render 'reviews/review' %>

      <!-- IF CURRENT USER -->
      <% if current_user %>

        <!-- if current user profile complete -->
        <% if (current_user.user_name != nil && current_user.name != nil && current_user.user_name != "" && current_user.name != "" ) %>

          <!-- if current user has reviewed this business -->
          <% if @business.reviews.any? { |review| review.user.name == current_user.name } %>
            <h1>You have already reviewed this business</h1>
            
          <!-- if current user has not reviewed this business -->
          <% else %>

            <!-- form to review business -->
            <div class="row">
              <div class="col-sm-12">
                <%= render 'reviews/new', review: Review.new(business_id: @business.id) %>
              </div>
            </div>

          <% end %> <!-- if current user has reviewed this business -->

        <!-- if current user profile not complete -->
        <% elsif (current_user.user_name == nil || current_user.name == nil || current_user.user_name == "" || current_user.name == "") %>
          <!-- <h1>User has no username or no name - profile incomplete</h1> -->
            <p><%= link_to "Complete your profile to review this business", edit_user_path(current_user), :class => 'navbar-link'  %> </p>
        <% end %> 

      <!-- if not current user -->
      <% else %> 
        <p><%= link_to "Sign up to review this business", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Log in to review this business", new_user_session_path, :class => 'navbar-link'  %></p>
      <% end %> 

<!-- EDIT / DELETE BUSINESS -->
      <!-- if business created by current user -->
      <% if (@business.user == current_user) %>
        <p><%= link_to 'Edit Business', edit_business_path(@business) %> | 
        <%#= link_to 'Delete Business', @question, method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Back to Businesses', businesses_path %></p>
      <% else %>
        <p><%= link_to 'Back to Businesses', businesses_path %></p>
      <% end %> <!-- if business created by current user -->

<%#= link_to 'Edit', edit_business_path(@business) %> |
<%#= link_to 'Back', businesses_path %>
