<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header"><%= @business.name.upcase %></h1>
  <p class="header"><%= link_to @business.neighborhood.name, @business.neighborhood %> <i class="fa fa-heart"></i> <%= link_to @business.borough.name, @business.borough %></p>
  <p class="header">
    <% if @business.reviews.length == 0 %>
    <% else %>
      <% total_rating = 0 %>
      <% num_of_ratings = 0 %>
      <% overall_rating = 0 %>
      <% @business.reviews.each do |review| %>
        <% total_rating += review.rating %>
        <% num_of_ratings += 1 %>
      <% end %>
      <% overall_rating = (total_rating / num_of_ratings) %>
      <% if overall_rating == 1 %>
        <i class="fa fa-star"></i>
      <% elsif overall_rating == 2 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i>
      <% elsif overall_rating == 3 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      <% elsif overall_rating == 4 %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      <% else %>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      <% end %>
    <% end %>
  </p>
</section>

<p id="notice"><%= notice %></p>    

<div class="business-map">
  <iframe height="200" frameborder="0" style="border:0"
  src="<%= @business.map  %>AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94"></iframe>
</div>

<div>
  <p>
    <strong>Website:</strong>
    <%= link_to @business.website.gsub("http://", ""), @business.website, :target => "_blank" %>
  </p>
</div>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @business.street_address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p><strong>Biztags:</strong>
<% @business.biztags.each do |biztag| %> 
  <%= link_to biztag.name, biztag %><%= "," unless biztag == @business.biztags.last %>
<% end %></p>

<p><strong>Designers:</strong>
<% @business.designers.each do |designer| %> 
  <%= link_to designer.name, designer %><%= "," unless designer == @business.designers.last %>
<% end %></p>

<!-- PHOTO FORM -->
<div class="biz-header">
  <h2>PHOTOS</h2>
</div>

<div>
  <% if current_user %>
    <div id="new-photo">
      <h5>Upload a photo of <%= @business.name %>.</h5>
    </div>  
    <%= render 'photos/new', photo: Photo.new(business_id: @business.id) %>
  <% else %>
    <div class="business-login-to-upload">
      <h4><%= link_to "LOGIN TO UPLOAD PHOTOS", new_user_session_path, :class => 'navbar-link'  %></h4>
    </div>
  <% end %>

<!-- DISPLAY PHOTOS -->
<section id="gallery photos">
  <div class="container">
    <div class="row">
      <% if @business.photos.empty? %>
        <h3>There are no photos of <%= @business.name %>.</h3>
      <% else %>
        <% @business.photos.reverse.each do |photo| %>
          <div class="col-sm-6 col-md-4 gallery-item">
            <a href="<%= photo.business_photo %>" data-toggle="lightbox">
              <div class="thumbnail-gallery" style="background-image:url('<%= photo.business_photo %>'); background-size:cover" height="200">
              </div>
            </a>
            <%= photo.description[0..15].upcase %> | <%= photo.created_at.strftime("%b %d, %Y") %> | <%= link_to photo.user.first_name.upcase, photo.user %> 
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section> 

<!-- REVIEW FORM -->
<div class="biz-header">
  <h2>REVIEWS</h2>
</div>

<!-- IF CURRENT USER -->
<% if current_user %>

  <!-- PRIOR REVIEW / REVIEW FORM -->
  <% if @business.reviews.any? { |review| review.user.email == current_user.email } %>
    <div class="you-reviewed">
      <h3>Thank you for reviewing <%= @business.name %>!</h3>
    </div>
  <% else %>
    <%= render 'reviews/new', review: Review.new(business_id: @business.id) %>
  <% end %> 

<!-- IF NOT CURRENT USER -->
<% else %>
  <div class="business-login-to-review"> 
    <h4><%= link_to "LOGIN TO REVIEW", new_user_session_path, :class => 'navbar-link'  %></h4>
  </div>
<% end %>

<!-- DISPLAY REVIEWS -->
<div id="reviews">
  <% if @business.reviews.length == 0 %>
    <h3>There are no reviews for <%= @business.name %>.</h3>
  <% else %>
    <% @business.reviews.reverse.each do |review| %>
      <div class="col-md-12">
        <div id="review">
          <% if !review.user.user_profile_photo? %>
            <img src="https://s3.amazonaws.com/consignnyc/placeholder-profile.png">
          <% else %>
            <%= image_tag review.user.user_profile_photo %></h1>
          <% end %>
          <%= review.created_at.strftime("%b %d, %Y").upcase %>
          <% if review.rating == 1 %>
            <i class="fa fa-star"></i>
          <% elsif review.rating == 2 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% elsif review.rating == 3 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% elsif review.rating == 4 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% else %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% end %><br>
          <%= link_to review.user.first_name.upcase, review.user %> 
          | <%= review.role.upcase %> 
          <div id="review-content">
            <%= review.content %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- ADMIN LINK -->
<div id="all-businesses">
  <% if is_admin? %>
    <%#= link_to 'Delete Business', @business, method: :delete, data: { confirm: 'Are you sure?' } %>  
    <p><%= link_to 'EDIT SHOP', edit_business_path(@business) %></p>
  <% end %> 
</div>

