<p id="notice"><%= notice %></p>

<!-- <%# if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <%# @photo.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

<!-- display business profile photo if it exists, otherwise placeholder -->
  <% if !@business.profile_photo? %>

  <p>
  <strong>No Business Photo:</strong>
   <%= image_tag "placeholder-business.png", height: 200 %>
</p>

  <% else %>

<p>
  <strong>Business Photo:</strong>
   <%= image_tag @business.profile_photo, height: 200 %>
</p>

  <% end %>

<p>
  <strong>User:</strong>
  <%= @business.user.name %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @business.neighborhood.name %>
</p>

<p>
  <strong>Borough:</strong>
  <%= @business.borough.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @business.website.gsub("http://", ""), @business.website, :target => "_blank" %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @business.hours %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @business.terms %>
</p>

<p><strong>Biztags:</strong>
<% @business.biztags.each do |biztag| %> 
  <%= link_to biztag.name, biztag %><%= "," unless biztag == @business.biztags.last %>
<% end %></p>

<p><strong>Designers:</strong>
<% @business.designers.each do |designer| %> 
  <%= link_to designer.name, designer %><%= "," unless designer == @business.designers.last %>
<% end %></p>

<!-- DISPLAY PHOTOS  -->
    <div id="photos">
      <h3>Photos</h3>
      <% if @business.photos.empty? %>
        <h4>There are no photos for this business yet. Be the first!<h4>
      <% else %>
        <% @business.photos.each do |photo| %>
          <h4><strong><%= link_to photo.user.name, photo.user %>:</strong>
          <%#= image_tag "#{@business.photo.url}", width: "480"%> 
          <%#= image_tag "https://s3.amazonaws.com/FlatironPostcard/stripe.jpg", width: "480"%>
          <%= photo.description %>
          <!-- <img src="<%= photo.business_photo %>" height="200"> -->
          <%= link_to image_tag(photo.business_photo), photo, height: 200 %>
          <% if (photo.user == current_user) %>
            | <%= link_to 'Delete Photo', [@business, photo], method: :delete, data: { confirm: 'Are you sure?' } %></h4>
            <% end %>
        <% end %>
      <% end %>
    </div>

<!-- put the user's review first? -->

<!-- ADD PHOTOS -->
    <div>

      <% if current_user %>

        <% if (current_user.user_name != nil && current_user.name != nil && current_user.user_name != "" && current_user.name != "" ) %>
          <h1> name: <%= current_user.user_name %> </h1>
          <%= form_for [@business, Photo.new] do |f| %>

          <%#= form_for(review, html: {class: "form-horizontal"}, remote: true) do |f| %>


            <div class="field business-field">
              <%= f.text_area :description, class: "form-control col-lg-8", placeholder: "Photo description." %>
              <p>Upload a photo:</p>
              <%= f.file_field :business_photo, placeholder: "Upload Photo"%>
              <%= f.hidden_field :business_id, :value => @business.id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
            <div class="actions">
              <%= f.submit "submit photo" %>
            </div>
          <% end %>

        <% elsif (current_user.user_name == nil || current_user.name == nil || current_user.user_name == "" || current_user.name == "") %>
          <h1>There is no username or name in profile</h1>
          <!-- need an elsif for if profile not complete and no reviews -->
            <p><%= link_to "Complete your profile to upload a photo", edit_user_path(current_user), :class => 'navbar-link'  %> </p>
        <% end %>
      
      <% else %>
        <p><%= link_to "Sign up to upload a photo", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Log in to upload a photo", new_user_session_path, :class => 'navbar-link'  %></p>
      <% end %>

<!-- DISPLAY REVIEWS -->
    <div id="reviews">
      <h3>Reviews</h3>
      <% if @business.reviews.empty? %>
        <h4><span>There are no reviews for this business yet. Be the first!</span><h4>
      <% else %>
        <% @business.reviews.each do |review| %>
          <h4><strong><%= link_to review.user.name, review.user %>:</strong> 
          <%= image_tag review.user.user_profile_photo, height: 50 %>
          <%= review.rating %> Star<br>
          <%= review.content %>
          <% if (review.user == current_user) %>
            <%#= link_to 'Edit Review', [@business, review], method: :get, remote: true, data: { confirm: 'Are you sure?' } %>
            | <%= link_to 'Delete Review', [@business, review], method: :delete, data: { confirm: 'Are you sure?' } %></h4>
          <% end %>
        <% end %>
      <% end %>
    </div>

            <%#= button_to "Delete", review_path(review), method: :delete, remote: true, class: 'btn btn-danger btn-sm' %>

<!-- REVIEW BUSINESS -->
<%#= render 'reviews/review' %>

      <!-- IF CURRENT USER -->
      <% if current_user %>

        <!-- if current user profile complete -->
        <% if (current_user.user_name != nil && current_user.name != nil && current_user.user_name != "" && current_user.name != "" ) %>

          <!-- if current user has reviewed this business -->
          <% if @business.reviews.any? { |review| review.user.name == current_user.name } %>
            <h1>You have already reviewed this business</h1>
            
          <!-- if current user has not reviewed this business -->
          <% else %>

            <!-- form to review business -->
            <div class="row">
              <div class="col-sm-12">
                <%= render 'reviews/new', review: Review.new(business_id: @business.id) %>
              </div>
            </div>

          <% end %> <!-- if current user has reviewed this business -->

        <!-- if current user profile not complete -->
        <% elsif (current_user.user_name == nil || current_user.name == nil || current_user.user_name == "" || current_user.name == "") %>
          <h1>User has no username or no name - profile incomplete</h1>
            <p><%= link_to "Complete your profile to review this business", edit_user_path(current_user), :class => 'navbar-link'  %> </p>
        <% end %> 

      <!-- if not current user -->
      <% else %> 
        <p><%= link_to "Sign up to review this business", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Log in to review this business", new_user_session_path, :class => 'navbar-link'  %></p>
      <% end %> 

<!-- EDIT / DELETE BUSINESS -->
      <!-- if business created by current user -->
      <% if (@business.user == current_user) %>
        <p><%= link_to 'Edit Business', edit_business_path(@business) %> | 
        <%#= link_to 'Delete Business', @question, method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Back to Businesses', businesses_path %></p>
      <% else %>
        <p><%= link_to 'Back to Businesses', businesses_path %></p>
      <% end %> <!-- if business created by current user -->

<%#= link_to 'Edit', edit_business_path(@business) %> |
<%#= link_to 'Back', businesses_path %>
