<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">SIGN UP</h1>
  <p class="header">WELCOME TO CONSIGN.NYC</p>
</section>

<div class="col-md-12">

  <div class="space">
  </div>
  
  <div class="instructions">
    <p>Please check your email for account confirmation instructions. You will be sent a link through which to confirm your account.</p>
  </div>

  <div class="instructions">
    <p>By registering, you agree to this site's <a href="/terms" alt="terms" target="_blank">terms and conditions</a>.</p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div >
      First name<br>
      <%= f.text_field :first_name %>
    </div>

    <div>
     Last name (kept private)<br>
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.radio_button :agree_to_terms, "I agree to this site's terms and conditions" %>
      I agree to this site's terms and conditions
    </div>

    <div class="signup-button">
      <div class="form-group form">
        <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">SIGN UP</button>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  <div class="user-divide">
  </div>

  <% if !user_signed_in? %>
  <%= link_to 'Log In with Facebook', facebook_login_path %>
<% end %>
</div>
