<!-- <h1 class="header">COMPLETE YOUR PROFILE</h1> -->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="edit-profile">

  <h6>REQUIRED</h6>

  <div class="field">
    <%= f.label :user_profile_photo %>
    <%= f.file_field :user_profile_photo, placeholder: "Profile Photo"%>
  </div>

  <div class="field">
    First name:<br>
    <%= f.text_field :name %>
  </div>

<!-- this needs to be set to a radio button -->
<!--   <div class="field">
    <%#= f.label :role %><br> 
    <%#= f.text_field :role %>
    <%#= f.collection_select(:role, Role.all, :id, :role_name ) %>
  </div> -->
  <div class="field">
   Last name (kept private):<br>
    <%= f.text_field :user_name %>
  </div>

  <h6>OPTIONAL</h6>

  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_field :bio %>
  </div>
</div>
  <div class="update-profile-button">
    <div class="form-group form">
      <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">UPDATE PROFILE</button>
    </div>
  </div>

<% end %>