<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">ADMIN PAGE</h1>
  <p class="header">USERS LIST</p>
</section>
 
<div class="admin-page">
  <p id="notice"><%= notice %></p>
  <div class="admin-table">
    <table align="center">
      <thead>
        <tr>
          <th>No.</th>
          <th>User ID</th>
          <th>Facebook</th>
          <th>Confirmed</th>
          <th>Joined</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Age</th>
          <th>Gender</th>
          <th>URL</th>
          <th>Reviews</th>
          <th>Photos</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% num = 0 %>
        <% count = 0 %>
        <% review_count = 0 %>
        <% photo_count = 0 %>
        <% @users.each do |user| %>
          <tr>
            <td><%= num += 1 %></td>
            <td><%= user.id %></td>
            <td>
              <% if user.provider == 'facebook' %>
                FACEBOOK
              <% end %>
            </td>
            <td>
              <% if (user.confirmed_at != nil) %>
                (<%= count += 1 %>) YES <%#= user.confirmed_at.strftime("%b %d, %Y") %>
              <% end %>
            </td>
            <td><%= user.created_at.strftime("%b %d, %Y") %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.city %></td>
            <td><%= user.age %></td>
            <td><%= user.gender %></td>
            <td><%= user.url %> </td>
            <td>
              <% if user.reviews.length != 0 %>
                (<%= review_count += 1 %>) <%= user.reviews.length %>
              <% end %>
            </td>
            <td>
              <% if user.photos.length != 0 %>
                (<%= photo_count += 1 %>) <%= user.photos.length %>
             <% end %>
            </td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td> 
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
</div>
