
<div class="users-page">
<!-- IF USER SIGNED IN -->
<% if user_signed_in? %>

  <!-- IF VIEWING YOUR OWN PROFILE -->
  <% if (current_user.email == @user.email) %>

    <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header user-profile-photo"><%= image_tag current_user.user_profile_photo %></h1>
      <p class="header"><%= current_user.user_name.upcase %></p>
    </section>
    <%= link_to 'Edit Profile', edit_user_path(@user) %> |
    <%= link_to 'Edit Account Settings', edit_user_registration_path, :class => 'navbar-link' %>
    <%#= link_to "Settings", edit_user_path %>

    <!-- DISPLAY PROFILE PHOTO OR PLACEHOLDER -->
<!--     <%# if !@user.user_profile_photo? %>
      <p>
        <strong>No Profile Photo:</strong>
         <%#= image_tag "placeholder-profile.png", height: 100 %>
      </p>  
    <%# else %>
      <p>
        <strong>Profile Photo:</strong>
         <%#= image_tag @user.user_profile_photo, height: 100 %>
      </p>
    <%# end %> -->

    <p>These are your current account settings:</p>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Username:</strong>
      <%= @user.user_name %>
    </p>

  <!-- IF SIGNED IN BUT VIEWING ANOTHER USER'S PROFILE -->
  <% else %>

    <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header user-profile-photo"><%= image_tag @user.user_profile_photo %></h1>
      <p class="header"><%= @user.user_name.upcase %></p>
    </section>

    <!-- DISPLAY PROFILE PHOTO OR PLACEHOLDER -->
<!--     <%# if !@user.user_profile_photo? %>
      <p>
        <strong>No Profile Photo:</strong>
         <%#= image_tag "placeholder-profile.png", height: 100 %>
      </p>  
    <%# else %>
      <p>
        <strong>Profile Photo:</strong>
         <%#= image_tag @user.user_profile_photo, height: 100 %>
      </p>
    <%# end %> -->

<!--     <p>
      <strong>Username:</strong>
      <%#= @user.user_name %>
    </p> -->

  <% end %>

<% else %>

    <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header user-profile-photo"><%= image_tag @user.user_profile_photo %></h1>
      <p class="header"><%= @user.user_name.upcase %></p>
    </section>

    <!-- display user profile photo if it exists, otherwise placeholder -->
<!--     <%# if !@user.user_profile_photo? %>
      <p>
        <strong>No Profile Photo:</strong>
       <%#= image_tag "placeholder-profile.png", height: 100 %>
      </p>
    <%# else %>
      <p> 
        <strong>Profile Photo:</strong>
         <%#= image_tag @user.user_profile_photo, height: 100 %>
      </p>
    <%# end %> -->

  <% end %>
<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Role:</strong>
  <%#= @user.role %>
</p> -->

<!-- SHOW USER'S REVIEWS - modify wording based on owner of profile -->
<% if user_signed_in? %>

  <% if @user.reviews.length == 0 %>

    <% if (current_user.email == @user.email) %>
      <h2>You have not reviewed any businesses.</h2>
    <% else %>
      <h2> <%= @user.user_name %> has not reviewed any businesses.</h2>
    <% end %>

  <% elsif @user.reviews.length == 1 %>

    <% if (current_user.email == @user.email) %>
      <h2>You have reviewed <%= @user.reviews.length %> business:</h2>
    <% else %>
      <h2> <%= @user.user_name %> has reviewed <%= @user.reviews.length %> business:</h2>
    <% end %>

  <% else %>

    <% if (current_user.email == @user.email) %>
      <h2>You have reviewed <%= @user.reviews.length %> businesses:</h2>
    <% else %>
      <h2> <%= @user.user_name %> has reviewed <%= @user.reviews.length %> businesses:</h2>
    <% end %>

  <% end %>

<% else %>

  <% if @user.reviews.length == 0 %>
    <h2> <%= @user.user_name %> has not reviewed any businesses.</h2>
  <% elsif @user.reviews.length == 1 %>
    <h2> <%= @user.user_name %> has reviewed <%= @user.reviews.length %> business:</h2>
  <% else %>
    <h2> <%= @user.user_name %> has reviewed <%= @user.reviews.length %> businesses:</h2>
  <% end %>

<% end %>


  <% @user.reviews.each do |review| %>
    <%= link_to review.business.name, review.business %>
    <%= review.rating %>
    <%= review.content %>

    <!-- THIS DELETE LINK DOES NOT WORK PROPERLY YET -->
    <%#= link_to 'Delete review', photo, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p>You'll want to eventually include more info about these businesses, maybe a photo.</p> 
  <% end %>

<!-- SHOW USER'S PHOTOS - modify wording based on owner of profile -->
<% if user_signed_in? %>

  <% if @user.photos.length == 0 %> 

    <% if (current_user.email == @user.email) %>
      <h2>You have not uploaded any photos.</h2>
    <% else %>
      <h2> <%= @user.user_name %> has not uploaded any photos.</h2>
    <% end %>

  <% elsif @user.photos.length == 1 %>

    <% if (current_user.email == @user.email) %>
      <h2>You have uploaded <%= @user.photos.length %> photo:</h2>
    <% else %>
      <h2> <%= @user.user_name %> has uploaded <%= @user.photos.length %> photo:</h2>
    <% end %>

  <% else %>

    <% if (current_user.email == @user.email) %>
      <h2>You have uploaded <%= @user.photos.length %> photos:</h2>
    <% else %>
      <h2> <%= @user.user_name %> has uploaded <%= @user.photos.length %> photos:</h2>
    <% end %>

  <% end %>

<% else %>

  <% if @user.photos.length == 0 %>
    <h2> <%= @user.user_name %> has not uploaded any photos.</h2>
  <% elsif @user.photos.length == 1 %>
    <h2> <%= @user.user_name %> has uploaded <%= @user.photos.length %> photo:</h2>
  <% else %>
    <h2> <%= @user.user_name %> has uploaded <%= @user.photos.length %> photos:</h2>
  <% end %>

<% end %>

  

    <section id="gallery">
      <div class="container">
        <div class="row divide">
          <% @user.photos.reverse.each do |photo| %>
            <div class="col-sm-6 col-md-4 gallery-item">
              <%= link_to photo.business.name.upcase, photo.business %> |
              BY: <%= link_to photo.user.user_name.upcase, photo.user %><br>
              DESCRIPTION: <%= photo.description %>
              <div class="thumbnail-gallery" style="background-image:url('<%= photo.business_photo %>'); background-size:cover" height="200">
            
              </div>
              <%= link_to 'SHOW', photo %> |
              <%= link_to 'EDIT', edit_photo_path(photo) %> |
              <%= link_to 'DELETE', photo, method: :delete, data: { confirm: 'Are you sure?' } %><br>
            </div>
          <% end %>
        </div>
      </div>
    </section>

</div>

  



