<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header"><%= @user.first_name.upcase %></h1>
  <p class="header">PROFILE</p>
</section>

<p id="notice"><%= notice %></p>

<div class="users-page">

  <!-- IF USER SIGNED IN -->
  <% if user_signed_in? %>
    <!-- IF VIEWING YOUR OWN PROFILE -->
    <% if (current_user.email == @user.email) %>
      
      <div class="see-all">
        <p><%= link_to 'EDIT PROFILE', edit_user_path(@user) %> 
        <%= link_to 'EDIT ACCOUNT', edit_user_registration_path, :class => 'navbar-link' %></p>
      </div>
    <% end %>
  <% end %>

  <div class="col-md-12 user-info">

    <div class="user-profile-photo">
      <% if !@user.user_profile_photo? %>
        <img src="https://s3.amazonaws.com/consignnyc/placeholder-profile.png">
      <% else %>
        <%= image_tag @user.user_profile_photo %></h1>
      <% end %>
    </div>

    <p><%= @user.city %></p>
    <h3><%= @user.tagline %></h3>

    <% if @user.url %>
      <% if @user.url.include?("http://") %>
        <p><%= link_to @user.url.gsub("http://", ""), @user.url, :target => "_blank" %></p>
      <% else %>
        <p><a href="http://<%= @user.url %>" alt="high end consignment nyc east village" target="_blank"><%= @user.url %></a></p>
      <% end %>
    <% end %>
    
    <p><%= @user.bio %></p>

  </div>

  <!-- IF USER SIGNED IN -->
  <% if user_signed_in? %>
    <!-- IF VIEWING YOUR OWN PROFILE -->
    <% if (current_user.email == @user.email) %>
      <div class="see-all">
        <p><%= link_to "LOGOUT", destroy_user_session_path, method: :delete%></p>
      </div>
    <% end %>
  <% end %>

  <!-- SHOW USER'S PHOTOS - modify wording based on owner of profile -->
  <div class="user-header">
    <% if @user.photos.length == 1 %>
      <h2><%= @user.photos.length %> PHOTO</h2>
    <% elsif @user.photos.length == 0 %>
    <% else %>
      <h2><%= @user.photos.length %> PHOTOS</h2>
    <% end %>
  </div>

  <section id="gallery">
    <div id="owl-demo-biz" class="owl-carousel owl-theme">
      <% @user.photos.reverse.each do |photo| %>
        <div class="owlitem-biz">
          <a href="<%= photo.business_photo %>" data-toggle="lightbox">
            <div class="thumbnail-gallery" style="background-image:url('<%= photo.business_photo %>'); background-size:cover">
            </div>
          </a>
          <p><%= link_to photo.business.name.upcase, photo.business %><% if ((photo.user == current_user) || is_owner?) %> 
            <i class="fa fa-caret-right"></i> <%= link_to 'DELETE PHOTO', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <i class="fa fa-caret-right"></i> <%= photo.created_at.strftime("%b %d, %Y") %>
          <% end %></p>
        </div>
      <% end %>
    </div>
  </section>

  <!-- SHOW USER'S REVIEWS -->
  <div class="user-header">
    <% if @user.reviews.length == 1 %>
      <h2><%= @user.reviews.length %> REVIEW</h2>
    <% elsif @user.reviews.length == 0 %>
    <% else %>
      <h2><%= @user.reviews.length %> REVIEWS</h2>
    <% end %>
  </div>

  <div id="user-reviews">
    <% @user.reviews.reverse.each do |review| %>
      <div class="col-md-12">
        <div id="user-review">
          <% if !review.business.profile_photo? %>
            <img src="https://s3.amazonaws.com/consignnyc/placeholder-business.png">
          <% else %>
            <%= image_tag review.business.profile_photo, :height => "100" %>
          <% end %>
          <%= link_to review.business.name, review.business, :class => 'review-name' %><br> 
          <%= review.created_at.strftime("%b %d, %Y") %> <i class="fa fa-caret-right"></i>  
          <% if review.rating == 1 %>
            <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
          <% elsif review.rating == 2 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
          <% elsif review.rating == 3 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
          <% elsif review.rating == 4 %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
          <% else %>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
          <% end %> <i class="fa fa-caret-right"></i> 
          <%= review.role.upcase %> 
          <% if ((review.user == current_user) || is_owner?) %>
            <!-- |  --><%#= link_to 'EDIT REVIEW', edit_review_path(review), method: :get %>
            <i class="fa fa-caret-right"></i> <%= link_to 'DELETE REVIEW', review, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %><br>
          <div id="user-review-content">
            <%= h(review.content).gsub(/\n/, '<br>').html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>



