<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header">ACCOUNT SETTINGS</h1>
  <p class="header">RETRIEVE PASSWORD</p>
</section>

<div class="col-md-12">
  <div class="user-divide">
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div class="reset-button">
      <div class="form-group form">
        <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">SEND RESET PASSWORD INSTRUCTIONS</button>
      </div>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>

  <div class="user-divide">
  </div>
  
</div>
