<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header"><%= @designer.name.upcase %></h1>
  <p class="header">Shops Carrying <%= @designer.name.upcase %></p>
</section>

<p id="notice"><%= notice %></p>
 
<section id="services">
  <div class="container">
    <div class="row">

      <% if @designer.businesses.empty? %>
        <h4>Sorry! There are no businesses with the designer <%= @designer.name %>!</h4>
      <% else %>
        <% @designer.businesses.sort{|a,b| a.name <=> b.name}.each do |business| %>
          <div class="col-sm-6 col-md-4 gallery-item biz">
            <a href="/businesses/<%= business.id %>">

              <% if !business.profile_photo? %>
                <div class="thumbnail-gallery" style="background-image:url('https://s3.amazonaws.com/consignnyc/placeholder-business.png'); background-size:cover" height="200">
                </div>

              <% else %>

                <div class="thumbnail-gallery" style="background-image:url('<%= business.profile_photo %>'); background-size:cover" height="200">
                </div>
              <% end %>
            </a>
            
            <span class="span"><%= link_to business.name.upcase, business %><span>

            <!-- RATING -->
            <% if business.reviews.length == 0 %>
              <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            <% else %>
              <% total_rating = 0 %>
              <% num_of_ratings = 0 %>
              <% overall_rating = 0 %>
              <% business.reviews.each do |review| %>
                <% total_rating += review.rating %>
                <% num_of_ratings += 1 %>
              <% end %>
              <% overall_rating = (total_rating.to_f / num_of_ratings.to_f) %>
              <% if (overall_rating.to_f >= 1 && overall_rating.to_f <= 1.24)  %>
                <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 1.25 && overall_rating.to_f <= 1.74)  %>
                <i class="fa fa-star"></i><i class="fa fa-star--half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 1.75 && overall_rating.to_f <= 2.24)  %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 2.25 && overall_rating.to_f <= 2.74)  %>
                 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 2.75 && overall_rating.to_f <= 3.24)  %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 3.25 && overall_rating.to_f <= 3.74)  %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 3.75 && overall_rating.to_f <= 4.24)  %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>

              <% elsif (overall_rating.to_f >= 4.25 && overall_rating.to_f <= 4.74)  %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>

              <% elsif overall_rating.to_f >= 4.75 %>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>

              <% end %>
            <% end %><br>
                
            <%= link_to business.borough.name.upcase, business.borough %> <i class="fa fa-caret-right"></i> <%= link_to business.neighborhood.name.upcase, business.neighborhood %><br>

            <% if business.reviews.length == 1 %>
              <%= business.reviews.length %> REVIEW <i class="fa fa-caret-right"></i>
            <% else %>
              <%= business.reviews.length %> REVIEWS <i class="fa fa-caret-right"></i> 
            <% end %> 
            <% if business.photos.length == 1 %>
              <%= business.photos.length %> PHOTO
            <% else %>
              <%= business.photos.length %> PHOTOS
            <% end %> 
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<%#= link_to 'Edit', edit_designer_path(@designer) %> 
<div id="all-designers">
  <p><%= link_to 'SEE ALL DESIGNERS', designers_path %></p>
</div>
