<h1>Listing boroughs</h1>

<br>

<% @boroughs.each do |borough| %>
  <% if borough.name == "Manhattan" %>
    <%= link_to borough.name, borough %><br>
    <% borough.neighborhoods.each do |neighborhood| %>
      -<%= link_to neighborhood.name, neighborhood %><br>
      <% neighborhood.businesses.each do |business| %>
        --<%= link_to business.name, business %><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<br>
<% if user_signed_in? %>
  <% if (current_user.email == "koren.cohen@gmail.com") %>
    <p>Admin</p>
    <table>
      <thead>
        <tr>
          <th>Borough</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @boroughs.each do |borough| %>
          <tr>
            <td><%= link_to borough.name, borough %></td>
            <td><%= link_to 'Show', borough %></td>
            <td><%= link_to 'Edit', edit_borough_path(borough) %></td>
            <td><%= link_to 'Destroy', borough, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Borough', new_borough_path %>
  <% end %>
<% end %>
