  <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
    <h1 class="header">LOCAL</h1>
    <p class="header">Shops by Neighborhood</p>
  </section>

<!--     <section id="works">
      <div class="container">
        <div class="row divide">
          <div class="col-xs-12">
            <div class="text-center"><h1>Popular Neighborhoods</h1></div>
            <div id="carousel-1" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="img/works/works_1.jpg" alt="">
                </div>
                <div class="item">
                  <img src="cartagena.jpg" alt="">
                </div>
              </div>
              <button class="left carousel-control" href="#carousel-1" data-slide="prev"><i class="fa fa-angle-left"></i></button>
              <button class="right carousel-control" href="#carousel-1" data-slide="next"><i class="fa fa-angle-right"></i></button>
            </div>
          </div>
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque scelerisque cursus ante actusis ullamcorper sed sit amet. Pellentesque id odio in risus facilisis accumsan. Donec non hendrerit elit, eget volutpat leo. Nullam vehiculater nunc id vulputate. Donec sed leo a est placerat dignissim. Curabitur elementum, leo id dictum consequat, turpis sem pretium elit.</p>
          </div>
        </div>
      </div>
    </section> -->

<!-- EAST VILLAGE MAP -->

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94&sensor=false&extension=.js'></script> 
 
<script> 
    google.maps.event.addDomListener(window, 'load', init);
    var map;
    function init() {
        var mapOptions = {
            center: new google.maps.LatLng(40.730804,-73.986843),
            zoom: 15,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            },
            scaleControl: true,
            scrollwheel: true,
            panControl: true,
            streetViewControl: true,
            draggable : true,
            overviewMapControl: true,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [   
  {
    featureType: "road",
    elementType: "labels",
    stylers: [ { visibility: "simplified" }, { lightness: 20 } ]
  },{
    featureType: "administrative.land_parcel",
    elementType: "all",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "landscape.man_made",
    elementType: "all",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "transit",
    elementType: "all",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "road.local",
    elementType: "labels",
    stylers: [ { visibility: "simplified" } ]
  },{
    featureType: "road.local",
    elementType: "geometry",
    stylers: [ { visibility: "simplified" } ]
  },{
    featureType: "road.highway",
    elementType: "labels",
    stylers: [ { visibility: "simplified" } ]
  },{
    featureType: "poi",
    elementType: "labels",
    stylers: [ { visibility: "off" } ]
    },{
    featureType: "road.arterial",
    elementType: "labels",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "water",
    elementType: "all",
    stylers: [ { hue: "#a1cdfc" },{ saturation: 30 },{ lightness: 49 } ]
  },{
    featureType: "road.highway",
    elementType: "geometry",
    stylers: [ { hue: "#f49935" } ]
  },{
    featureType: "road.arterial",
    elementType: "geometry",
    stylers: [ { hue: "#fad959" } ]
  }
],
        }
        var mapElement = document.getElementById('EastVillage');
        var map = new google.maps.Map(mapElement, mapOptions);
        var locations = [
['Cadillac\'s Castle', '', 'undefined', 'undefined', 'undefined', 40.728753, -73.98563899999999, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png'],['Tokyo Joe', 'undefined', 'undefined', 'undefined', 'undefined', 40.72947, -73.98480400000001, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png'],['Tokyo 7', 'undefined', 'undefined', 'undefined', 'undefined', 40.7273421, -73.9860448, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png'],['Buffalo Exchange', 'undefined', 'undefined', 'undefined', 'undefined', 40.729564, -73.9848514, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png'],['Eleven', 'undefined', 'undefined', 'undefined', 'undefined', 40.729149, -73.983772, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png'],['Ina', 'undefined', 'undefined', 'undefined', 'undefined', 40.733032, -73.989324, 'https://mapbuildr.com/assets/img/markers/solid-pin-black.png']
        ];
        for (i = 0; i < locations.length; i++) {
      if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
      if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
      if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
           if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
           if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
            marker = new google.maps.Marker({
                icon: markericon,
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
link = '';            bindInfoWindow(marker, map, locations[i][0], description, telephone, email, web, link);
     }
 function bindInfoWindow(marker, map, title, desc, telephone, email, web, link) {
      var infoWindowVisible = (function () {
              var currentlyVisible = false;
              return function (visible) {
                  if (visible !== undefined) {
                      currentlyVisible = visible;
                  }
                  return currentlyVisible;
               };
           }());
           iw = new google.maps.InfoWindow();
           google.maps.event.addListener(marker, 'click', function() {
               if (infoWindowVisible()) {
                   iw.close();
                   infoWindowVisible(false);
               } else {
                   var html= "<div style='color:#000;background-color:#fff;padding:5px;width:150px;'><h4>"+title+"</h4></div>";
                   iw = new google.maps.InfoWindow({content:html});
                   iw.open(map,marker);
                   infoWindowVisible(true);
               }
        });
        google.maps.event.addListener(iw, 'closeclick', function () {
            infoWindowVisible(false);
        });
 }
}
</script>

<style>
    #EastVillage {
        height:300px;
        width:100%;
        margin-top: 20px;

    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
    .google-maps {
      width: 85%;
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
</style>

<!-- UPPER EAST SIDE MAP -->

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94&sensor=false&extension=.js'></script> 
 
<script> 
    google.maps.event.addDomListener(window, 'load', init);
    var map;
    function init() {
        var mapOptions = {
            center: new google.maps.LatLng(40.771247,-73.964654),
            zoom: 14,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            },
            scaleControl: true,
            scrollwheel: true,
            panControl: true,
            streetViewControl: true,
            draggable : true,
            overviewMapControl: true,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [   
  {
    featureType: "road",
    elementType: "labels",
    stylers: [ { visibility: "simplified" }, { lightness: 20 } ]
  },{
    featureType: "administrative.land_parcel",
    elementType: "all",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "landscape.man_made",
    elementType: "all",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "transit",
    elementType: "all",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "road.local",
    elementType: "labels",
    stylers: [ { visibility: "simplified" } ]
  },{
    featureType: "road.local",
    elementType: "geometry",
    stylers: [ { visibility: "simplified" } ]
  },{
    featureType: "road.highway",
    elementType: "labels",
    stylers: [ { visibility: "simplified" } ]
  },{
    featureType: "poi",
    elementType: "labels",
    stylers: [ { visibility: "off" } ]
    },{
    featureType: "road.arterial",
    elementType: "labels",
    stylers: [ { visibility: "off" } ]
  },{
    featureType: "water",
    elementType: "all",
    stylers: [ { hue: "#a1cdfc" },{ saturation: 30 },{ lightness: 49 } ]
  },{
    featureType: "road.highway",
    elementType: "geometry",
    stylers: [ { hue: "#f49935" } ]
  },{
    featureType: "road.arterial",
    elementType: "geometry",
    stylers: [ { hue: "#fad959" } ]
  }
],
        }
        var mapElement = document.getElementById('UpperEastSide');
        var map = new google.maps.Map(mapElement, mapOptions);
        var locations = [

        ];
        for (i = 0; i < locations.length; i++) {
      if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
      if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
      if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
           if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
           if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
            marker = new google.maps.Marker({
                icon: markericon,
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
link = '';     }

}
</script>
<style>
    #UpperEastSide {
       height:300px;
        width:100%;
        margin-top: 20px;
    }
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
        .google-maps {
      width: 85%;
      min-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
</style>

<!-- MAPS -->
<div class="local col-md-12">
  <h2>POPULAR NEIGHBORHOODS</h2>

  <!-- GOOGLE MAPS -->
  <h3><a href="/neighborhoods/2" alt="EAST VILLAGE">EAST VILLAGE</a></h3>
  <div class="google-maps">
    <div id='EastVillage'></div>
  </div>
  <h3><a href="/neighborhoods/1" alt="UPPER EAST SIDE">UPPER EAST SIDE</a></h3>
  <div class="google-maps">
    <div id='UpperEastSide'></div>
  </div>

  <!-- COMPLETE NEIGHBORHOOD LIST -->
  <h2>ALL NEIGHBORHOODS</h2>
  <div class="col-md-6">
    <% @boroughs.each do |borough| %>
      <% if borough.name == "Manhattan" %>
        <h3><%= link_to borough.name.upcase, borough %></h3>
        <% borough.neighborhoods.sort{|a,b| a.name <=> b.name }.each do |neighborhood| %>
          <h4><%= link_to neighborhood.name.upcase, neighborhood %></h4>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% @boroughs.each do |borough| %>
      <% if borough.name == "Brooklyn" %>
        <h3><%= link_to borough.name.upcase, borough %></h3>
        <% borough.neighborhoods.sort{|a,b| a.name <=> b.name }.each do |neighborhood| %>
          <h4><%= link_to neighborhood.name.upcase, neighborhood %></h4>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- ADMIN PANEL -->
<div class="admin">
<% if user_signed_in? %>
  <% if (current_user.email == "koren.cohen@gmail.com") ||  (current_user.email == "consigndotnyc@gmail.com")%>
    <p>Admin</p>
    <table>
      <thead>
        <tr>
          <th>Borough</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @boroughs.each do |borough| %>
          <tr>
            <td><%= link_to borough.name, borough %></td>
            <td><%= link_to 'Show', borough %></td>
            <td><%= link_to 'Edit', edit_borough_path(borough) %></td>
            <td><%= link_to 'Destroy', borough, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Borough', new_borough_path %>
  <% end %>
<% end %>
</div>

<div class="user-divide col-md-12">
</div>
