<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header"><%= @borough.name.upcase %> - ADMIN</h1>
  <p class="header">BROWSE SHOPS</p>
</section>

<p id="notice"><%= notice %></p>

<p>
  <strong>Borough:</strong>
  <%= @borough.name %>
</p>

<p>
  <strong>Stores by Neighborhood:</strong><br>
  <% @borough.neighborhoods.each do |neighborhood| %>
    <%= link_to neighborhood.name, neighborhood %><br>
    <% neighborhood.businesses.each do |business| %>
      -<%= link_to business.name, business %><br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_borough_path(@borough) %> | 
<%= link_to 'All Boroughs', boroughs_path %>
