

<%#= link_to 'New Photo', new_photo_path %>

<!-- *** GALLERY START *** -->
    <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
      <h1 class="header">GALLERY</h1>
      <p class="header">Browse the Latest Photos</p>
    </section>
    <section id="gallery">
      <div class="container">
        <div class="row divide">
          <% @photos.reverse.each do |photo| %>
            <div class="col-sm-6 col-md-4 gallery-item">
              <%= link_to photo.business.name.upcase, photo.business %> |
              BY: <%= link_to photo.user.user_name.upcase, photo.user %><br>

              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><br>

              
              <%= link_to 'SHOW', photo %> |
              <%= link_to 'EDIT', edit_photo_path(photo) %> |
              <%= link_to 'DELETE', photo, method: :delete, data: { confirm: 'Are you sure?' } %><br>
              <div class="thumbnail-gallery" style="background-image:url('<%= photo.business_photo %>'); background-size:cover" height="200">
              </div>
              DESCRIPTION: <%= photo.description[0..30] %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <!-- *** GALLERY END *** -->

<!--   <div id="carousel-3" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <img src="img/works/works_6.jpg" alt="">
      </div>
      <div class="inactive item">
        <img src="img/works/works_7.jpg" alt="">
      </div>
      <div class="inactive item">
        <img src="img/works/works_8.jpg" alt="">
      </div>
    </div>
    <button class="left carousel-control" href="#carousel-3" data-slide="prev"><i class="fa fa-angle-left"></i></button>
    <button class="right carousel-control" href="#carousel-3" data-slide="next"><i class="fa fa-angle-right"></i></button>
  </div> -->
