<%= form_for(@neighborhood) do |f| %>
  <% if @neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% @neighborhood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :borough_id %><br>
    <%#= f.number_field :borough_id %>
    <%= f.collection_select(:borough_id, Borough.all, :id, :borough_name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
