<section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
  <h1 class="header"><%= @neighborhood.name.upcase %></h1>
  <p class="header"><%= @neighborhood.borough.name %></p>
</section>

<!--   <div class="business-map-neighborhood">
    <iframe height="300" frameborder="0" style="border:0"
    src="AIzaSyBbcPLaJEgvOoBeECL8HR9NmU5ISyfOt94"></iframe>
  </div> -->

<p id="notice"><%= notice %></p>

<section id="services">
  <div class="container">
    <div class="row">
      <% @neighborhood.businesses.sort{|a,b| a.name <=> b.name}.each do |business| %>
        <div class="col-sm-6 col-md-4 gallery-item biz">

          <!-- BUSINESS PROFILE PHOTO -->
          <% if !business.profile_photo? %>
            <div class="thumbnail-gallery" style="background-image:url('https://s3.amazonaws.com/consignnyc/placeholder-business.png'); background-size:cover" height="200">
            </div>
          <% else %>
            <div class="thumbnail-gallery" style="background-image:url('<%= business.profile_photo %>'); background-size:cover" height="200">
            </div>
          <% end %>
          
          <!-- STORE INFO -->
          <span class="span"><%= link_to business.name.upcase, business %><span>

          <!-- RATING -->
          <% if business.reviews.length == 0 %>
          <% else %>
            <% total_rating = 0 %>
            <% num_of_ratings = 0 %>
            <% overall_rating = 0 %>
            <% business.reviews.each do |review| %>
              <% total_rating += review.rating %>
              <% num_of_ratings += 1 %>
            <% end %>
            <% overall_rating = (total_rating / num_of_ratings) %>
            <% if overall_rating == 1 %>
              <i class="fa fa-star"></i>
            <% elsif overall_rating == 2 %>
              <i class="fa fa-star"></i><i class="fa fa-star"></i>
            <% elsif overall_rating == 3 %>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <% elsif overall_rating == 4 %>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <% else %>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <% end %>
          <% end %><br>

          <!-- REVIEW & PHOTO COUNT -->
          <% if business.reviews.length == 1 %>
            <%= business.reviews.length %> REVIEW <i class="fa fa-heart"></i>
          <% else %>
            <%= business.reviews.length %> REVIEWS <i class="fa fa-heart"></i> 
          <% end %> 
          <% if business.photos.length == 1 %>
            <%= business.photos.length %> PHOTO
          <% else %>
            <%= business.photos.length %> PHOTOS
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</section>

<%#= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> 
<%#= link_to 'See All Neighborhoods', neighborhoods_path %>
