  <section id="gallery-start" data-bottom-top="background-position: 50% -400px;" data-top-bottom="background-position: 50% 0px;">
    <h1 class="header"><%= @neighborhood.name.upcase %></h1>
    <p class="header"><%= @neighborhood.borough.name %></p>
  </section>

<p id="notice"><%= notice %></p>

<p>
  <!-- <strong>Stores in <%#= @neighborhood.name %>:</strong><br> -->
  <% @neighborhood.businesses.each do |business| %>
    <%= link_to business.name, business %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'All Neighborhoods', neighborhoods_path %>
