<%= form_for [@business, Review.new], :remote => true do |f| %>

  <% if Review.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% Review.new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field review-field">
    <div id="review-form">
      <%= f.number_field :rating, class: "form-control col-lg-8", placeholder: "RATING (FROM 1-5)" %>
      <%= f.text_area :content, class: "form-control col-lg-8", placeholder: "DETAILED REVIEW (30 CHARACTERS MIN)" %>
      <%= f.hidden_field :business_id, :value => @business.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  </div>
  <div class="review-button">
    <div class="form-group form">
      <button type="submit" value="Send" id="submit" class="btn btn-fancy btn-block">REVIEW SHOP</button>
    </div>
  </div>
<% end %>






